/* ======== begin fonts======== */
@font-face {
	font-family: 'Conv_Equestria';
	src: url('font/Equestria.eot');
	src: local('☺'), /* als je het al hebt? */ 
        url('font/Equestria.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

strong {
    font-family: "Conv_Equestria", fantasy; 
}

/* ======== eind fonts ============= */

/* hotspots verbergen */
div.hs {
    visibility:hidden;
}

/* ponydelen vullen */
/* kan dit helemaal met -before en -after en dan nog animeren? */

#basis .pony div{
/* element met class pony in element met id basis */
    background-image: url(img/delen.gif);
    /* zodat het een blokje wordt ipv een regel */
    display: inline-block;
}

#hoofd {
    min-width: 100px;
    min-height: 100px;
    background-position: 361px 328px;
}

#nek {
    min-width: 55px;
    min-height: 71px;
    background-position: 478px 239px;
    /* hé ik zie een stuk van een ander deel in het vierkantje */
}